<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-300">
    {% include 'nav.html' %}
    {% include 'add_transaction_modal.html' %}
    {% include 'edit_transaction_modal.html' %}

    <main class="p-8">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>