{% extends "base.html" %}

{% block title %}
MyFi
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 pt-16">
    <div class="flex items-center justify-center">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-32 w-auto rounded-full" src="{{ profile_pic_url }}" alt="Profile Picture">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ name }}
                </h2>
            </div>
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address" value="{{ email }}" disabled>
                </div>
            </div>
            <div>
                <p class="mt-2 text-center text-sm text-gray-600">
                    {% if is_premium %}
                        <span class="font-medium text-indigo-600 hover:text-indigo-500">
                            Premium User
                        </span>
                    {% else %}
                        <span class="font-medium text-red-600 hover:text-red-500">
                            Regular User
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}